{% extends "index.html.twig" %}


{% block MAINCONTENT %}
    <div class="col-sm-9">
    <div class="container">
        <h1>Fine Payment</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Fine Payment</li>
        </ul>
        <br>
        <br>
        <h4 class="text-primary">Fine Details:</h4>
        <p>Date of Offence: {{ fine_details.date_issued }}</p>
        <p>Location: {{ fine_details.location }}</p>
        <p>Amount Due: <b>GHS 500.00</b></p>
        <br>
        <h4 class="text-primary">Payment Options:</h4>
        <div class="form-group">

            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        ATM
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Mobile Money
                    </label>
                </div>
            </div>
        </div>
        <a href="../controller/fines-controller.php?cmd=2&fid={{ fine_details.fine_id }}" class="btn btn-primary">Pay Fine</a>

    </div>
    </div>

{% endblock %}